<link type="text/css" href="view/stylesheet/blog.css" rel="stylesheet" media="screen" />
{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_install %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_install }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
	<div class="row">
	<div class="logopart">
      <div class="col-lg-3 col-md-3 col-sm-3">
		<h1>{{ heading_title }}</h1>
	  </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
		{{ dashmenu }}
	  </div>
    </div>
    </div>
	
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">{{ totalblogs }}</div>
      <div class="col-lg-4 col-md-4 col-sm-4">{{ categories }}</div>
      <div class="col-lg-4 col-md-4 col-sm-4">{{ comments }}</div>
    </div>
   
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> {{ recentposts }} </div>
    </div>
  </div>
</div>
{{ footer }}
